@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 1024px) {

    /* Logo da Empresa */
    .storeBrand {
        width: 45px;
        height: 45px;
        opacity: 100%;
    }
    
    /* Barra de pesquisa */
    .inputWrapper {
        width: 500px;
    }

    /* Botão para a tela de Login */
    .loginRegister {
        width: 70px;
    }

    .loginRegister span {
        display: none;
    }

    /* Conteúdo Principal */
    main {
        padding: 20px 100px;
    }

}